<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php
</IfModule>
<IfModule mod_expires.c>
	Header append Cache-Control "public"
	FileETag MTime Size
	ExpiresActive on
	ExpiresDefault "access plus 7 days"
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
	ExpiresByType image/png "access plus 3 day"
	ExpiresByType text/css "access plus 1 day"
	ExpiresByType text/javascript "access plus 1 day"
</IfModule>